.App
    display: flex
    flex-direction: row
    height: 100%
    width: 100%

    .button-area
        display: flex
        flex-direction: column
        align-items: center;
        justify-content: center;
        height: 100%
        flex-basis: 20%
        border-right: dashed #d6cfcf

        .ant-btn.active
            background: red

        .ant-btn
            &:focus
                outline: none
            
            &:hover
                border-color: unset

        .button-title
            display: block
        .button-row
            width: 50%
            display: flex
            flex-direction: column
            row-gap: 10px

    .video-area
        display: flex
        flex-direction: column
        align-items: center;
        height: 100%
        overflow: auto
        flex-basis: 80%

        .video
            display: flex;
            flex-direction: column;